<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="heartbeat.social.tcs.socialhb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignIn" />
        <activity
            android:name=".activity.Trial"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.Dashboard"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.HeartBeatIndexModule"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.GEOModule"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.CSRInitModule"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.UtilityModule"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.sub_modules.CSRInitCategoryDescription"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.nav_drawer_activity.Profile"
            android:parentActivityName=".activity.Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="heartbeat.social.tcs.socialhb.activity.Dashboard" />
        </activity>
        <activity
            android:name=".activity.nav_drawer_activity.Notifications"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.sub_modules.WasteToWealth"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.sub_modules.EnviroEngineer"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.sub_modules.DonateItem"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.sub_modules.ViewStatus"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.nav_drawer_activity.Settings"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.quiz_activity.QuizStartActivity"
            android:noHistory="true"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.quiz_activity.QuizQusAnsActivity"
            android:theme="@style/CustomStyle1" />
        <activity
            android:name=".activity.modules.quiz_activity.QuizSubmitActivity"
            android:theme="@style/CustomStyle1"/>
        <activity
            android:name=".activity.modules.quiz_activity.QuizResultActivity"
            android:theme="@style/CustomStyle1"/>

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Trial2" />

    </application>

</manifest>
